@use "/src/styles/partials/_mixins.scss" as *;
@use "/src/styles/partials/_variables.scss" as *;

.filter {
  &__button--color {
    padding: 0.5rem 1rem;
    width: 6rem;
    border-radius: 1rem;
    background-color: $colorprimarypistachio;
    border: 0.125rem solid $colorprimaryforest;
    color: $colorprimaryforest;
    transition: all 0.2s ease;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 1.5rem 1rem;
    right: 0;
    z-index: 2;
    @include fontmobile-label;
    @include tablet {
      @include fonttablet-label;
      width: 7rem;
      padding: 0.6875rem 1.375rem;
      border-radius: 2rem;
    }

    &:hover,
    &.active {
      cursor: pointer;
      background-color: $colorprimaryforest;
      color: $colorsecondarywhite;

      .filter__image {
        filter: brightness(0) invert(1);
      }
    }
  }

  &__image {
    padding-left: 0.5rem;
    transition: filter 0.2s ease;
  }
}
