@use "/src/styles/partials/_mixins.scss" as *;
@use "/src/styles/partials/_variables.scss" as *;

.drawer {
  display: none;
  &--open {
    display: block;
  }
}

.card {
  &__image {
    width: 100%;
  }
  &__container {
    background-color: $colorsecondarysage;
    border: 1px solid $colorsecondarysea;
    margin: 2rem;
    border-radius: 8px;
    object-fit: cover;
    overflow: hidden;
    position: relative;
    @include desktop {
      border-radius: 12px;
    }
  }
  &__photographer {
    background-color: $colorsecondarysage;
    position: absolute;
    border-top-left-radius: 10px;
    padding: 0.2rem;
    right: 0;
    bottom: 3rem;
    @include fontmobile-label;
  }
}
.tag {
  background-color: $colorsecondarywhite;
  border:1px solid $colorsecondarysea;
  padding: .375rem .5rem; 
  border-radius: .375rem;
  margin: .5rem;
  @include fontmobile-label;
  @include desktop {
    padding: .5rem .75rem;
    border-radius: .75rem;
    margin: .75rem;
    @include fonttablet-label
  }
}
.filter {
  &__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  background-color: $colorsecondarysage;
  }
  &__title {
    background-color: $colorsecondarysage;
    margin-top:5rem;
    @include fontmobile-heading;
    padding-left: 1rem;
  }
  &__button--color {
    padding: .5rem 1rem;
    width: 6rem;
    border-radius: 1rem;
    background-color: $colorprimarypistachio;
    border: .125rem solid $colorprimaryforest;
    color: $colorprimaryforest;
    transition: filter 0.2s ease;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 1.5rem 1rem;
    right: 0;
    z-index: 2;
    @include fontmobile-label;
    &:hover {
      cursor: pointer;
      filter:invert(95%) sepia(97%) saturate(14%) hue-rotate(213deg) brightness(104%) contrast(104%);
      // filter: brightness(0) invert(1);
    }
    &.active {
      // filter:invert(95%) sepia(97%) saturate(14%) hue-rotate(213deg) brightness(104%) contrast(104%);
      // filter: brightness(0) invert(1);
      // background-color: red;
    }
    @include desktop {
      border-radius: .75rem;
      padding: .6875rem 1.375rem;
    }
  }
  &__image {
    // width: .7rem;
    padding-left: .5rem;
  }
}
.header--fixed {
  display: flex;
}
.tag--clickable {
  border-color: $colorprimaryforest;
  color: $colorprimaryforest;
  &:hover {
    background-color: $colorprimaryforest;
    color: $colorsecondarywhite;
  }
}