@use "/src/styles/partials/_mixins.scss" as *;
@use "/src/styles/partials/_variables.scss" as *;


.footer {
    &__container {
        padding: 1rem;
    }
    &__text {
        @include tablet {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
        @include desktop {
            flex: 1;
        }
        &-icons {
            @include desktop {
                display: flex;
            }
        }
    }
    &__title {
        color: $colorprimaryblack;
        padding: 1.5rem 0;
    }
    &__link {
        @include tablet {
            display: flex;
            justify-content: space-between;
            width: 30%;
            padding-top: 1.5rem;
            padding-right: 1rem;
        }
    }
    &__link-one--space , &__link-two--space {
        display: flex;
        flex-direction: column;
        padding: .5rem 0;
        @include tablet {
            display: flex;
        }
    }
    &__link--underline {
        text-decoration: none;
        color: $colorprimaryblack;
        padding: .2rem;
        @include fontmobile-body;
        @include tablet {
            @include fonttablet-body;
        }
    }
    &__copyright {
        display: flex;
        justify-content: space-between;
        width: 70%;
        color: $colorsecondarysea;
        @include fontmobile-smbody;
        @include tablet {
            width: 40%;
        }

    }
}
.social__icons {
    padding: 1rem 0;
    @include desktop {
        display: flex;
        justify-content: flex-end;
        padding-top: 2.5rem;
    }
    & a {
        padding-right: 1rem;
    }
}