@use "/src/styles/partials/_mixins.scss" as *;
@use "/src/styles/partials/_variables.scss" as *;

.hero__section {
  padding: 3rem 1rem;
  & p {
    @include font-mobile-body;
    padding-bottom: 1rem;
    padding-top: 4rem;
    @include tablet {
      @include font-tablet-body;
    }
  }
  & span {
    font-style: italic;
  }
  & h2 {
    @include font-mobile-title;
    @include tablet {
      @include font-tablet-title;
    }
  }
}
