@use "/src/styles/partials/_mixins.scss" as *;
@use "/src/styles/partials/_variables.scss" as *;

.hero__section {
  padding: 3rem 1rem;
  @include tablet {
    padding: 3rem 1.5rem;
  }
  @include desktop {
    padding: 0 1.5rem;
    width: 60%;
  }
  & p {
    @include font-mobile-body;
    padding-bottom: 1rem;
    padding-top: 4rem;
    @include tablet {
      @include font-tablet-body;
    }
    @include desktop {
      padding-top: 0;
    }
  }
  & span {
    font-style: italic;
  }
  & h2 {
    @include font-mobile-title;
    @include tablet {
      @include font-tablet-title;
    }
    @include desktop {
      & .drawer--open {
        width: 100%;
      }
    }
  }
}
