@use "/src/styles/partials/_mixins.scss" as *;
@use "/src/styles/partials/_variables.scss" as *;

.drawer {
  display: none;
  &--open {
    display: block;
  }
}
.filter {
  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    background-color: $colorsecondarysage;
    padding: 1rem;
    @include tablet {
      padding: 2rem 1rem 4rem 1rem;
    }
    @include desktop {
      width: 30%;
    }
  }

  &__title {
    background-color: $colorsecondarysage;
    margin-top: 5rem;
    padding: 1rem;
    @include fontmobile-heading;
    padding: 2rem 1rem 1rem 1rem;
    @include tablet {
      @include fonttablet-heading;
    }
    @include desktop {
      width: 30%;
    }
  }
}
