@use "/src/styles/partials/_mixins.scss" as *;
@use "/src/styles/partials/_variables.scss" as *;

.drawer {
  display: none;
  &--open {
    display: block;
  }
}
.filter {
  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    background-color: $color-secondary-background;
    padding: 1rem;
    @include tablet {
      padding: 2rem 1rem 4rem 1rem;
    }
  }

  &__title {
    background-color: $color-secondary-background;
    margin-top: 5rem;
    padding: 1rem;
    @include font-mobile-heading;
    padding: 2rem 1rem 1rem 1rem;
    @include tablet {
      @include font-tablet-heading;
    }
    @include desktop {
      width: 30%;
    }
  }
}
.tag--clickable {
  margin: 0.5rem 0.5rem 0 0;
}