@use "/src/styles/partials/_mixins.scss" as *;
@use "/src/styles/partials/_variables.scss" as *;

.card__container--width {
      @include tablet {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-evenly;
      }
    }

.hero-card__container {
  @include tablet {
    margin-left: .5rem;
    margin-right: .5rem;
  }
  @include desktop {
    display: flex;
    flex-direction: row;
    & .drawer--open {
      width: 70%;
    }
  }
}
