@use "/src/styles/partials/_mixins.scss" as *;
@use "/src/styles/partials/_variables.scss" as *;

.comments-display__container-desktop , .comments-form__container-desktop , .comments-photocard__container-desktop {
  margin-top: 2.5rem;
  @include tablet {
    margin-top: 3.5rem;
  }
  @include desktop {
    padding: 0 20%;
  }
}
.comments-photocard__container-desktop {
    @include tablet {
      margin-top: 8.5rem;
    }
  }