@use "/src/styles/partials/_global.scss" as *;
@use "/src/styles/partials/_mixins.scss" as *;
@use "/src/styles/partials/_variables.scss" as *;

.header__container {
  display: flex;
}
.filter__button {
  display: flex;
}
.app {
  @include desktop {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}

.header--fixed {
  @include desktop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
  }
}

.main__content {
  @include desktop {
    display: flex;
    flex-grow: 1;
    margin-top: 160px;
  }
}

.filter__drawer {
  @include desktop {
    width: 0;
    order: 2;
  }
  &--open {
    @include desktop {
      width: 30%;
      background-color: $color-secondary-sage;
    }
  }
}
.filter__title {
  @include desktop {
    height: auto;
  }
}
.filter {
  &__list {
    @include desktop {
      height: auto;
    }
  }
}
.hero-photos__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  @include desktop {
    flex-direction: column;
    gap: 4rem;
    width: 100%;
  }
}
