@use "/src/styles/partials/_mixins.scss" as *;
@use "/src/styles/partials/_variables.scss" as *;

.tag {
  background-color: $colorsecondarywhite;
  border: 1px solid $colorsecondarysea;
  padding: 0.375rem 0.5rem;
  border-radius: 0.375rem;
  margin: 0.5rem;
  @include fontmobile-label;

  @include tablet {
    padding: 0.5rem 0.5rem;
    border-radius: 0.75rem;
    margin: 0.75rem;
    @include fonttablet-label;
  }

  &--clickable {
    border-color: $colorprimaryforest;
    color: $colorprimaryforest;
    cursor: pointer;

    &:hover,
    &.tag--selected {
      background-color: $colorprimaryforest;
      color: $colorsecondarywhite;
    }
  }
}
