@use "/src/styles/partials/_mixins.scss" as *;
@use "/src/styles/partials/_variables.scss" as *;

.tag {
  background-color: $color-secondary-white;
  border: 1px solid $color-secondary-sea;
  padding: 0.375rem 0.5rem;
  border-radius: 0.375rem;
  margin: 0.5rem;
  &:hover {
    background-color: $color-secondary-sea;
  }
  cursor: pointer;
  @include fontmobile-label;

  @include tablet {
    padding: 0.5rem 0.5rem;
    border-radius: 0.75rem;
    margin: 0.75rem;
    @include fonttablet-label;
  }

  &--clickable {
    border-color: $color-primary-forest;
    color: $color-primary-forest;
    cursor: pointer;

    &:hover,
    &.tag--selected {
      background-color: $color-primary-forest;
      color: $color-secondary-white;
    }
  }
}
