@use "/src/styles/partials/_mixins.scss" as *;
@use "/src/styles/partials/_variables.scss" as *;

input {
    width: 90%;
}
.form {
    &__name , &__comment {
        border-style: none;
        outline: none;
        border:2px solid $colorsecondarysage;
        &:focus {
            border:2px solid $colorprimaryforest;
        }
        &--invalid {
            border:2px solid #B10606
        }
    }
}