@use "/src/styles/partials/_global.scss" as *;
@use "/src/styles/partials/_mixins.scss" as *;

.header__container {
  display: flex;
}
.filter__button {
  display: flex;
}
.hero-photos__content {
  @include desktop {
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 4rem;
  }
}
