@use "./font" as *;
@use "./mixins" as *;
@use "./variables" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-primary-pistachio;
}
h1 {
  color: $color-primary-black;
  @include fontmobile-wordmark;
  @include tablet {
    @include fonttablet-wordmark;
  }
}
nav a {
  text-decoration: none;
}
