@use "./font" as *;
@use "./mixins" as *;
@use "./variables" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-primary-background;
}
h1 {
  color: $color-primary-text;
  @include font-mobile-wordmark;
  @include tablet {
    @include font-tablet-wordmark;
  }
}
nav a {
  text-decoration: none;
}
