@use "./font" as *;

//Breakpoints 
@mixin tablet {
    @media (min-width: 48rem) {
      @content;
    }
  }
  @mixin desktop {
    @media (min-width: 80rem) {
      @content;
    }
  }
// Mobile Fonts
@mixin fontMobile-Wordmark {
    font-family: "Newsreader";
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 400;
}
@mixin fontMobile-Title {
    font-family: "Newsreader";
    font-size: 1.625rem;
    line-height: 2.375rem;
    font-weight: 300;
}
@mixin fontMobile-Heading {
    font-family: "Outfit";
    font-size: 1.125rem;
    line-height: 1.4375rem;
    font-weight: 500;
}
@mixin fontMobile-Body {
    font-family: "Outfit";
    font-size: .75rem;
    line-height: .9375rem;
    font-weight: 500;
}
@mixin fontMobile-SmBody {
    font-family: "Outfit";
    font-size: .625rem;
    line-height: .75rem;
    font-weight: 500;
}
@mixin fontMobile-Label {
    font-family: "Outfit";
    font-size: .75rem;
    line-height: .9375rem;
    font-weight: 500;
}
// DeskTop and Tablet Fonts
@mixin fontTablet-Wordmark {
    font-family: "Newsreader";
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 400;
}
@mixin fontTablet-Title {
    font-family: "Newsreader";
    font-size: 3.25rem;
    line-height: 4.125rem;
    font-weight: 300;
}
@mixin fontMobile-Heading {
    font-family: "Outfit";
    font-size: 1.5rem;
    line-height: 1.875rem;
    font-weight: 500;
}
@mixin fontMobile-Body {
    font-family: "Outfit";
    font-size: 1.25rem;
    line-height: 1.8125rem;
    font-weight: 500;
}
@mixin fontMobile-SmBody {
    font-family: "Outfit";
    font-size: .75rem;
    line-height: .9375rem;
    font-weight: 500;
}
@mixin fontMobile-Label {
    font-family: "Outfit";
    font-size: .875rem;
    line-height: 1.0938rem;
    font-weight: 500;
}


//changes names to common letters