@use "./font" as *;

//Breakpoints
@mixin tablet {
  @media (min-width: 48rem) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 80rem) {
    @content;
  }
}
// Mobile Fonts
@mixin font-mobile-wordmark {
  font-family: "Newsreader";
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 400;
}
@mixin font-mobile-title {
  font-family: "Newsreader";
  font-size: 1.625rem;
  line-height: 2.375rem;
  font-weight: 300;
  font-style: normal;
}
@mixin font-mobile-heading {
  font-family: "Outfit";
  font-size: 1.125rem;
  line-height: 1.4375rem;
  font-weight: 500;
}
@mixin font-mobile-body {
  font-family: "Outfit";
  font-size: 0.75rem;
  line-height: 0.9375rem;
  font-weight: 500;
}
@mixin font-mobile-sm-body {
  font-family: "Outfit";
  font-size: 0.625rem;
  line-height: 0.75rem;
  font-weight: 500;
}
@mixin font-mobile-label {
  font-family: "Outfit";
  font-size: 0.75rem;
  line-height: 0.9375rem;
  font-weight: 500;
}
// DeskTop and Tablet Fonts
@mixin font-tablet-wordmark {
  font-family: "Newsreader";
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 400;
}
@mixin font-tablet-title {
  font-family: "Newsreader";
  font-size: 3.25rem;
  line-height: 4.125rem;
  font-weight: 300;
}
@mixin font-tablet-heading {
  font-family: "Outfit";
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 500;
}
@mixin font-tablet-body {
  font-family: "Outfit";
  font-size: 1.25rem;
  line-height: 1.8125rem;
  font-weight: 500;
}
@mixin font-tablet-sm-body {
  font-family: "Outfit";
  font-size: 0.75rem;
  line-height: 0.9375rem;
  font-weight: 500;
}
@mixin font-tablet-label {
  font-family: "Outfit";
  font-size: 0.875rem;
  line-height: 1.0938rem;
  font-weight: 500;
}
