$color-primary-text: #0c1e1a;

$color-primary-outline: #1e6655;

$color-primary-background: #effaf7;

$color-secondary-border: #b7cec9;

$color-secondary-background: #e4efec;

$color-secondary-tag-background: #ffffff;
